<!DOCTYPE html>
<html>
  <head>
    <title>Prefabricated Home Manufacturers in the UK</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-dark bg-dark">
      <%= link_to 'Prefabricated Home Manufacturers in the UK', root_path, class: 'navbar-brand' %>

      <form class="form-inline">
        <%= link_to 'Add Link', new_link_path, class: 'btn align-right btn-outline-primary' %>
        <% if user_signed_in? %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn align-right btn-outline-danger' %>
        <% else %>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn align-right btn-outline-success' %>
          <%= link_to 'Sign In', new_user_session_path, class: 'btn align-right btn-outline-success' %>
        <% end %>
      </form>
    </nav>

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
