<!DOCTYPE html>
<html>
  <head>
    <title>Prefabricated Home Manufacturers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-dark bg-dark">
      <%= link_to 'Prefabricated Home Manufacturers', root_path, class: 'navbar-brand' %>
      <form class="form-inline">
        <%= link_to 'Add Link', new_link_path, class: 'btn align-right btn-outline-primary' %>
        <button class="btn align-right btn-outline-success" type="button" href="#">Login</button>
      </form>
    </nav>

    <br class="clear" />

    <%= yield %>
  </body>
</html>
